<%- include('../include/body'); %>

<div class="card bg-light">
  <div class="card-header"><b>Cadastro Básico</b></div>
  <div class="card-body">
    <section class="d-flex align-items-center justify-content-center">
      <div class="border rounded p-5">
        <form action="#">
          <div class="form-group">
            <img src="<%- process.env.BASE_URL %>/public/img/favicon.svg" width="75" height="75" class="rounded mx-auto d-block" alt="..." />
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
              </div>
              <input id="username" type="text" name="username" autofocus class="form-control" placeholder="Nome..." />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
              </div>
              <input id="password" type="password" name="password" class="form-control" placeholder="Senha..." />
            </div>
          </div>
          <div class="form-row m-1">
            <div class="mr-auto">
              <button id="cancel" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-reply-all-fill"></i> Cancelar</button>
            </div>
            <div class="ml-auto">
              <button id="login" type="submit" class="btn btn-primary btn-sm"><i class="bi bi-box-arrow-right"></i> Login</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  <div class="card-footer text-right" title="Danilo Xavier - (63) 9 9233-5654">&copy; <strong>DX Suporte</strong></div>
</div>

<%- include('../include/footer'); %>
