<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="..." />
    <meta name="author" content="DX Suporte - Danilo Xavier" />
    <meta name="generator" content="visual studio code" />
    <meta name="keywords" content="nodejs, electronjs, bootstrap" />
    <title><%- TITLE %></title>
    <!-- Favicons -->
    <link href="../../public/img/favicon.svg" rel="icon" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/bootstrap/css/bootstrap.css" />
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/bootstrap/css/bootstrap-icons.css" />
    <!-- Start CSS -->
    <link rel="stylesheet" href="../../public/css/start.css" />
    <!--jquery -->
    <script src="../../public/vendor/jquery/jquery.min.js"></script>
    <!-- Start JS -->
    <script src="../../public/js/start.js"></script>
  </head>
  <body id="body" class="bg-light text-dark">