<footer>
  <div class="form-row">
    <div class="mr-auto">
      &copy; <strong data-toggle="tooltip" title="Contato <%- EMAIL %>"><%- AUTHOR %></strong>
    </div>
    <div class="ml-auto">
      <div data-toggle="tooltip" title="Horário de Tocantins">
        <strong id="myDate"></strong> - <strong id="myClock"></strong>
      </div>
    </div>
  </div>
</footer>

</div>

<!--Bootstrap JS-->
<script src="<%- process.env.BASE_URL %>/public/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
