<footer>
  <div class="form-row">
    <div class="mr-auto">
      &copy;&nbsp;<strong><%- AUTHOR %></strong>
    </div>
    <div class="ml-auto">
      <strong id="myDate"></strong> -
      <strong id="myClock"></strong>
    </div>
  </div>
</footer>

</div>

<!--Bootstrap JS-->
<script src="<%- process.env.BASE_URL %>/public/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
