<header>
  <div class="form-row">
    <div class="mr-auto"></div>
    <div class="ml-auto">
      <button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-person-circle"></i>&nbsp;<%- process.env.authUser %></button>
    </div>
  </div>
</header>
