.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

section {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex: 1;
}

header {
  min-height: 23px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
  -webkit-app-region: drag;
}

footer {
  min-height: 22px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
  -webkit-app-region: drag;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.pane-left {
  max-width: 350px;
  min-width: 280px;
  padding: 8px;
}

.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 8px;
}

.results tr[visible='false'] {
  display: none;
}

.results tr[visible='true'] {
  display: table-row;
}
